.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  text-align: center;
  padding-top: calc(var(--grid-unit) * 2);
  color: var(--color-1);
}

.header--title {
  margin: calc(var(--grid-unit) * 0.5) 0;
}

.header--subtitle {
  font-weight: 100;
  margin: calc(var(--grid-unit) * 0.5) 0;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  gap: calc(var(--grid-unit) * 4);
  padding: 0 calc(var(--grid-unit) * 4);
}

.footer {
  flex: 0 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__chapter-button {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  margin: calc(var(--grid-unit) * 2);
  cursor: pointer;
  padding: 0;
}

.footer__chapter-button--selected {
  background-color: var(--color-1);
}

.story-radio-input {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

.story-navigation {
  width: 100px;
  border: 1px solid var(--color-1);
}

.story-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.container > * {
  min-width: 0;
  min-height: 0;
}

.story {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding: calc(var(--grid-unit) * 1);
  transition: padding 1s ease-in-out;
}

.story-radio-input:checked + label {
  padding: calc(var(--grid-unit) * 4);
}

.story__container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.story__container__border {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-1);
  outline: 1px solid var(--color-1);
  outline-offset: calc(var(--grid-unit) * -1);
  background-color: var(--color-3);
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.story-radio-input:checked + label .story__container__border{
  opacity: 1;
}

.story__container__animation {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: calc(var(--grid-unit) * 1);
}